@charset "UTF-8";

body{
    height: 50%;
    width: 50%;
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png'); /*URL Externa  https://gustavoguanabara.github.io/html-css/imagens/mascote.png*/
    background-repeat: repeat; 
    /*
    no-repeat(não repetir), 
    repeat-x(repetir apenas na horizontal), 
    repeat-y(repetir apenas na vertical)
    */
}

.box{
    width: 500px; 
    height: 300px;
    margin: 15px;
    display: inline-block;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 15px;
}

#b1{
    background-color: #97CCE8;
}
#b2{
    background-image: linear-gradient(to bottom, yellow, orange);
}
#b3{
    /*background-repeat: no-repeat;*/
    background: url('../img/pattern003.png') no-repeat;
    
    background-size: cover;
    /*
    Contain: estica a imagem sem alterar suas proporções
    
    cover: altera as dimensões da imagem até que ela preencha todo conteiner.
    */
}