@charset "UTF-8";

.box{
    width: 300px; 
    height: 300px;
    display: inline-block;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 15px;
}

#b1{
    background-color: aqua;
}
#b2{
    background-image: linear-gradient(to bottom, yellow, orange);
}
#b3{
    background-image: url(../img/pattern003.png);
}